<div class="articles-new">

  <h2>新規投稿</h2>

  <% if @post_image.errors.any? %>
    <%= @post_image.errors.full_messages.count %> 件のエラーが発生しました
    <% @post_image.errors.full_messages.each do |message| %>
      <%#= message %>
    <% end %>
  <% end %>
  <%= form_with model: @post_image, local:true do |f| %>
    <table class="form-table">
      <tr>
        <th>タイトル</th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th>本文</th>
        <td><%= f.text_area :body %></td>
      </tr>
      <tr>
        <th>エリア選択</th>
        <td><%= f.select :category_id, Article.category_ids.keys, {} %></td>
      </tr>
      <tr>
        <th>画像添付</th>
        <td><%= f.attachment_field :image %></td>
      </tr>
    </table>
    <div class="submit"><%= f.submit '投稿', class: 'btn btn-primary' %></div>
  <% end %>
</div>