<div class="post-body">

  <%= attachment_image_tag @post_image, :image %>
    <p>タイトル：<%= @post_image.title %></p>
    <p>エリア：<%= @post_image.category_id %></p>
    <p>本文：<%= @post_image.body %></p>
    <p>投稿者：<%= @post_image.user.name %></p>
    <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>

  <% if @post_image.liked_by?(current_user) %>
    <p>
      <%= link_to like_path(@post_image), method: :delete do %>
        👍<%= @post_image.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to likes_path(article_id: @post_image.id), method: :post do %>
        👍<%= @post_image.likes.count %> いいね
      <% end %>
    </p>
  <% end %>

  <% if @post_image.user == current_user %>
    <%= link_to "投稿削除", article_path(@post_image.id), method: :delete %>
  <% end %>
</div>


<div class="comments">
<p>コメント件数：<%= @post_image.article_comments.count %></p>
<% @post_image.article_comments.each do |article_comment| %>
  <%= article_comment.user.name %>
  <%= article_comment.created_at.strftime('%Y/%m/%d')  %>
  <%= attachment_image_tag article_comment.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "sample.jpg" %>
  <%= article_comment.text %>

  <% if article_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "コメント削除", article_article_comment_path(article_comment.article_id,article_comment.id), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>

<div class="new-comment">

  <%= form_with(url: article_article_comments_path(@post_image), local: true) do |f| %>

  <%= f.text_area :text, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>