<div class="post-body articles-show">
<h2 class="mb-5"><%= @post_image.title %></h2>
  <%= attachment_image_tag @post_image, :image, class: 'mb-3' %>
    <table class="table table-striped mb-5">
      <tr>
        <th>タイトル</th>
        <td><%= @post_image.title %></td>
      </tr>
      <tr>
        <th>エリア</th>
        <td><%= @post_image.category_id %></td>
      </tr>
      <tr>
        <th>投稿者</th>
        <td><%= @post_image.user.name %></td>
      </tr>
      <tr>
        <th>投稿日</th>
        <td><%= @post_image.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>本文</th>
        <td><%= @post_image.body %></td>
      </tr>
      <tr>
        <th>名所</th>
        <td><%= @post_image.description %></td>
      </tr>
      <tr>
        <th>緯度</th>
        <td><%= @post_image.latitude %></td>
      </tr>
      <tr>
        <th>経度</th>
        <td><%= @post_image.longitude %></td>
      </tr>
    </table>

  <% if @post_image.liked_by?(current_user) %>
    <h4>
      <%= link_to like_path(@post_image), method: :delete do %>
        👍<%= @post_image.likes.count %> いいね
      <% end %>
    </h4>
    <% else %>
    <h4>
      <%= link_to likes_path(article_id: @post_image.id), method: :post do %>
        👍<%= @post_image.likes.count %> いいね
      <% end %>
    </h4>
  <% end %>

  <% if @post_image.user == current_user %>
    <%= link_to "投稿削除", article_path(@post_image.id), method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>


<div class="comments">
  <h3 class="mt-5 mb-3">コメント</h3>
  <h5>コメント件数：<%= @post_image.article_comments.count %></h5>
  <table class="table table-striped">
    <% @post_image.article_comments.each do |article_comment| %>
        <tr>
          <td>
            <%= attachment_image_tag article_comment.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "sample.jpg" %><br />
            投稿者：<%= article_comment.user.name %><br />
            投稿日時：<%= article_comment.created_at.strftime('%Y/%m/%d')  %><br />
            コメント：<%= article_comment.text %>
            <% if article_comment.user == current_user %>
              <div class="comment-delete">
                <%= link_to "コメント削除", article_article_comment_path(article_comment.article_id,article_comment.id), method: :delete, class: 'btn btn-danger' %>
              </div>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>

<div class="new-comment">

  <%= form_with(url: article_article_comments_path(@post_image), local: true) do |f| %>

  <%= f.text_area :text, rows:'5',placeholder: "コメントをここに" %>
  <div class="submit"><%= f.submit "送信する", class: "btn btn-primary" %></div>
<% end %>
</div>
