<div class="profile-container users-show">

<section class="mb-5">
  <p class="profile-img"><%= attachment_image_tag @user, :image, :fill, 200, 200, format: 'jpeg', fallback: "sample.jpg" %></p>
  <h5>ニックネーム：<%= @user.name %></h5></br>
  <h4>自己紹介：<%= @user.self_introduction %></h4></br>

  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-primary" %></p>
  <% end %>
</section>

<section>
  <h2>投稿履歴</h2>
  <table class="table table-striped">
    <% @articles.each do |article| %>
      <tr>
        <%= link_to article_path(article.id) do %>
          <h4>タイトル：<%= article.title %></h4>
          <%= attachment_image_tag article, :image %>
        <% end %>
        <h4>いいね👍 <%= article.likes.count %></h4></br>
        <h4>エリア：<%= article.category_id %></h4></br>
        <h4>投稿日：<%= article.created_at.strftime('%Y/%m/%d') %></h4></br>
        <h4>本文：<%= article.body %></h4></br>
      </tr>
    <% end %>
  </table>
  <%= paginate @articles %>
</section>
</div>
