<div class="top">

  <header class="py-5 bg-light border-bottom">
    <div class="container">
      <div class="text-center my-1">
        <h1 class="fw-bolder">トラメモ　~Travel Memory~</h1>
        <p class="lead mb-0">日本国内旅行記　あなたにピッタリの旅先を見つけます。</p>
      </div>
    </div>
  </header>

  <div class="clearfix">
    <aside class="f-left">
      <section class="mb-3">
        <h2>ランキング</h2>
        <% @all_ranks.each do |article| %>
        <div>
          <%= link_to article_path(article.id) do %>
          <h3><%= article.title %></h3>
          <%= attachment_image_tag article, :image %>
          <% end %>
          <p>いいね👍　<%= article.likes.count %></p>
          <p>エリア：<%= article.category_id %></p>
          <p>投稿日：<%= article.created_at.strftime('%Y/%m/%d') %></p>
          <p>本文：<%= article.body %></p>
        </div>
        <% end %>
        <%= link_to likes_path do %>
        <h5>もっと見る >></h5>
        <% end %>
      </section>

      <section>
        <h2>エリア別</h2>
        <%= form_with url: categories_path, method: :get, local:true do |f| %>
        <%= f.select :category_id, Article.category_ids.keys, {} %>

        <%= f.submit '検索' %>
        <% end %>
      </section>
    </aside>

    <section class="f-right">
      <h2>最新投稿</h2>
      <% @article.each do |article| %>
      <div>
        <%= link_to article_path(article.id) do %>
        <h3><%= article.title %></h3>
        <%= attachment_image_tag article, :image %>
        <% end %>
        <h5>いいね👍　<%= article.likes.count %></h5></br>
        <h5>エリア：<%= article.category_id %></h5></br>
        <h5>投稿日：<%= article.created_at.strftime('%Y/%m/%d') %></h5></br>
        <h5>本文：<%= article.body %></h5></br>
      </div>
      <% end %>
    </section>
  </div>
</div>
